<ion-button shape="round" style="--background:#827B7A" (click)="choix()">Tri par :</ion-button>
<nav id="choix">
  <li><button (click)="choice(1)">Nom</button></li>
  <li><button (click)="choice(2)">Temps de préparation</button></li>
  <li><button (click)="choice(3)">Coût de préparation</button></li>
</nav>

<ion-grid>
  <ion-row *ngFor="let col of tab" class="grid">
    <ion-col style="font-weight:bold"> {{col[0]}} </ion-col>
    <ion-col style="font-style:italic"> {{col[1]}} </ion-col>
    <ion-col style="font-style:italic"> {{col[2]}} </ion-col>
    <ion-col style="font-weight:bold"> {{col[3]}} </ion-col>
  </ion-row>
</ion-grid>

<ion-button shape="round" style="--background:#827B7A" (click)="ingr()">Infos supplémentaires ingrédients</ion-button>
