ion-col{
  border:solid 1px #74726F;
  color: #A29A8F;
  text-align:center;
}

.title{
  color: #A29A8F;
  background-color:transparent;
  font-size:1em;
  font-weight:bold;
  text-decoration:underline;
}

#container{
  text-align:center;
}
