<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">
      TP2 - Javascript - 2020/2021
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-tableau></app-tableau>

  <ion-grid>
    <ion-row *ngFor="let col of tab" class="grid">
      <ion-col style="font-weight:bold"> {{col[0]}} </ion-col>
      <ion-col> {{col[1]}} </ion-col>
      <ion-col> {{col[2]}} </ion-col>
      <ion-col> {{col[3]}} </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <p style="text-align:center;">&copy; Cuisinier - Lehu - Keloglanian - CIR 2 - 2021/2022</p>
    </ion-toolbar>

  </ion-footer>

</ion-content>
